body{
    background-color: rgb(190, 185, 185);
    margin-left: 25%;
    margin-right: 25%;
}

#name{
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: 'Fjalla One', sans-serif;
}

.bloques{
    padding-left: 15px;
    padding-bottom: 15px;
    color: white;
    background-color: rgb(54, 49, 49);
    font-family: 'Barlow Condensed', sans-serif;
}

.tablas{
    background-color: rgb(54, 49, 49);
}

.image-profile{
    width: 200px;
    padding-top: 15px;
    padding-right: 20px;
}

.profile-description{
    font-size: 20px;

}

.subtemas{
    font-size: 30px;
    font-family: 'Fjalla One', sans-serif;
}

.skills{
    list-style-image: url(poke.png);
    font-size: 25px;
}

#tablahabilidadees{
    font-size: 25px;
}

.links{
    font-size: 20px;
    color: aqua;
}